{% load static plotly_dash %}
<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pamukkale Üniversitesi, Machine Learning, Data Science, Software Engineering Student Researcher PhD Researcher Cyber Security Student Veri Bilimi Example Project Student Researcher Algoritms " />
    <meta name="author" content="PhD. Mehmet Erdem ÖZER">

    <title> Machine Learning </title>

    {% plotly_header %}

</head>
<body>


<main>

    {% plotly_direct name="index" %}

</main>

{% plotly_footer %}


</body>
</html>

